<a href="https://colab.research.google.com/github/PavanDhanenkula/PYthonpractice/blob/main/PythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random


## Functions
def get_choices():

  ## variable declaration
  #player_choice = "rock"
  player_choice = input('Enter a choice (rock, paper scissors):')
  options = ["rock", "paper", "scissors"]
  computer_choice = random.choice(options)

  ## Dictonaries stores the data in key value pairs
  choices = {"player": player_choice, "computer": computer_choice}
  return choices


def check_win(player, computer):
  #print("You chose "+ player + ", computer chose " + computer)
  print(f"You chose {player}, computer chose {computer}")
  if player == computer:
    return "Its a tie!"
  elif player == "rock":
    if computer == "scissors":
      return "rock smashes scissors! You win!"
    else:
      return "paper covers rock! You lose."
  elif player == "paper":
    if computer == "rock":
      return "paper covers rock! You win!"
    else:
      return "scissors cuts rock! You lose."
  elif player == "scissors":
    if computer == "paper":
      return "scissors custs paper! You win!"
    else:
      return "rock smashes scissors! You lose."


## Function 1
## To declare variable
## and assgin the return value of the function to the variable
choices = get_choices()
print(choices)

## Function 2
#check_win("rock","paper")

result = check_win(choices["player"], choices["computer"])
print(result)

var1 = "paper"
var2 = 12
var3 = 12.56
print(type(var1))
print(isinstance(var1, str))
print(type(var2))
print(isinstance(var1, int))
print(type(var3))
print(isinstance(var1, float))

var4 = float(var2)
print(type(var4))
print(isinstance(var4, float))

var5 = int("20")
print(isinstance(var5, int))

#complex
#bool
#list
#typle
#range
#dict

##Operatos
#1. Assignment Operators
#2. Arithmetic Operators
## a+b a-b a*b a/b a%b, a//b
## all the arithmetic and assignment operatos can be combined like += , -= ...
#3. Comparison Operators
## a==b a!=b a>b a<b
#4. Boolean Operators ==> and or not
#5. Bitwise Operatos ==> & BinaryAND | BInaryOR ^ BinaryXOR ~ BinaryNot << LeftShift >> RightShift

In [ ]:
print('first','second')

first second

Print wil accept more than a single parameter and in the console output each parameter is printed with space separation.

In [ ]:
from enum import Enum

class State(Enum):
  INACTIVE = 0
  ACTIVE = 1

print(State(1))
print(State['ACTIVE'])
print(State['ACTIVE'].value)
print(State.ACTIVE.value)

print(list(State))

State.ACTIVE
State.ACTIVE
1
1
[<State.INACTIVE: 0>, <State.ACTIVE: 1>]

In [ ]:
age = input("What is your age?")
print("Your age is " + age)

What is your age?5
Your age is 5

Control Statements
if condition ==True:

In [ ]:
condition = True
if condition == True:
  print("The condition")
  print("was true")
else:
  print("The condition")
  print("was false")

The condition
was true

LISTS

In [ ]:
dogs = ["Roger",1,"Syd", True]

print("Roger" in dogs)
print("Beau" in dogs)

dogs = []
print("Beau" in dogs)

dogs = ["Roger",1,"Syd", True]
print(dogs[0], dogs[3])
dogs[3]='fidth' ## we cant adda a new elemenet but can only modify the existing one
print(dogs)

True
False
False
Roger True
['Roger', 1, 'Syd', 'fidth']

In [ ]:
abc = [2,1,5]
for i in abc:
    print(i)

2
1
5

In [ ]:
smallest = None
print("Before:", smallest)
for itervar in [10, 3, 41, 12, 9, 74, 1]:
    if smallest is None or itervar < smallest:
        smallest = itervar
        #break
    print("Loop:", itervar, smallest)
print("Smallest:", smallest)

Before: None
Loop: 10 10
Loop: 3 3
Loop: 41 3
Loop: 12 3
Loop: 9 3
Loop: 74 3
Loop: 1 1
Smallest: 1

In [ ]:
if 0 is 0.0:
  print(True)
else:
  print(False)

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-22-1a7f616f1919>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if 0 is 0.0:

In [ ]:
for n in "banana":
    print(n)

b
a
n
a
n
a

In [ ]:
fruit = "banana"
for n in fruit:
  print(n)

b
a
n
a
n
a

In [ ]:
n = 0
while True:
    if n == 3:
        break
    print(n)
    n = n + 1

0
1
2

In [ ]:
for i in [2,1,5]:
    print(i)

2
1
5

In [ ]:
smallest = None
print("Before:", smallest)
for itervar in [10, 3, 41, 12, 9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
        #break
    print("Loop:", itervar, smallest)
print("Smallest:", smallest)

Before: None
Loop: 10 10
Loop: 3 3
Loop: 41 3
Loop: 12 3
Loop: 9 3
Loop: 74 3
Loop: 15 3
Smallest: 3

In [ ]:
if 0 is 0.0:
  print(True)
else:
  print(False)

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-10-1a7f616f1919>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if 0 is 0.0:

In [ ]:
for n in "banana":
    print(n)

b
a
n
a
n
a

In [ ]:
word = "bananana"
i = word.find("na")
print(i)

2

In [ ]:
var = 'ß'
print(var.lower(), var.casefold())

ß ss

In [3]:
fruit = "banana"
x = fruit[1]
print(x)

a

In [16]:
listex = [1,2,3,4]
print(listex)
listex.append(5)
print(listex)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [17]:

arr1 = [1,2,3]
arr2 = [1,2,3,4]
arr = arr1 + arr2
print(arr)

[1, 2, 3, 1, 2, 3, 4]

In [20]:
words = 'His e-mail is q-lar@freecodecamp.org'
pieces = words.split()
parts = pieces[3].split('-')
n = parts[1]
print(n)

lar@freecodecamp.org

In [23]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("price", "nothing")

print(x)

nothing

In [1]:
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
for key in counts:
    if counts[key] > 10:
        print(key, counts[key])

annie 42
jan 100

In [1]:
(x,y) = (1,2)
print(x)
x = 10
print(x)

1
10

In [5]:
tuples = (1,2,3)
print(tuples[0])
#tuples[0] = 10 ==> not allowed

1